body{
    font-family:'Franklin Gothic Medium',sans-serif;
}

h1{
    text-align: center;
}

span{
    color: #3662FF;
}

a{
    color: #3662FF;
}

li{
    text-decoration:underline;
}

div{
    max-width: 700px;
    margin-inline: auto;
}

#box{
    background-color: #3662FF;
    color: white;
    display: inline-block;
    padding: 15px;
}